<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car</title>
</head>
<body>
    
    <h1>Hi Car...!!!</h1>
    <h2>Lista 01</h2>
    <ul>
        {% for car in cars01  %}
            <li>{{car.title}}</li>
        {% endfor %}
    </ul>
    <h2>Lista 02</h2>
    <ul>
        {% for car in libros  %}
            <li>{{car.title}}</li>
        {% endfor %}
    </ul>
    <h2>Lista 03</h2>
    <h1>{{ context }}</h1>
    <h2>

    </h2>
</body>
</html>